*{
    margin: 0;
    padding: 0;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.navbar{
	background: #edf0f3;
}
.navdiv {
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
}
.navdiv li a:hover{
	color: #2A7BD9;
}
#nav-logo {
	height: 60px;
}
.logo {
	padding-left: 20px;
	margin-top: 10px;
	align-items: center;
	justify-content: space-between;
	display: flex;
}
.fa-solid {
	font-size: 20px;
}
li{
	margin-top: 10px;
	list-style: none;
	display: inline-block;
}
li a{
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-weight: 700;
	margin-right: 3rem;
}
h3 {
	margin-left: .5rem;
	color: #2A7BD9;
	font-size: 25px;
}
/* Dropdown Menu Styles */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    border-radius: 3px;
	z-index: 1;
}
.dropdown-content li {
    padding: 10px 20px;
    color: black;
    display: block;
    text-align: left;
}
.dropdown-content li a {
    color: black;
    text-decoration: none;
    display: block;
	margin-bottom: .5rem;
	font-size: 17px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover > a {
    color: #2A7BD9;
}
#arrow {
    font-size: 14px;
}
.container {
	display: grid;
	grid-template-columns: 400px 400px auto auto 400px;
	grid-template-rows: auto auto auto auto auto;
	gap: 1rem;
}
#title {
	font-family: Arial, Helvetica, sans-serif;
	color: #002249;
	font-size: 20px;
	font-weight: 700;
	margin: .5rem
}
#user-greetings {
	color: #ffffff;;
	font-size: 35px;
	font-weight: 700;
	margin-top: 4rem;
	margin-left: 1rem;
}
#content {
	color: #ffffff;;
	font-size: 14px;
	font-weight: 700;
	line-height: 30px;
	margin-left: 1rem;
}
#person-icon {
	height: 140px;
	margin-top: 2rem
}
.user-profile {
	grid-column: 6/6;
}
.container-header:nth-child(1) {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	margin-top: 2rem;
	margin-left: 1rem;
	grid-column: 1/5;
	grid-row: 1/4;
	height: 200px;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
	border-radius: 8px;
	border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
	background-image:  linear-gradient(to right, #2E3192, #1BFFFF);
	opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: .2s;
}
.container-notifications:nth-child(2) {
	margin-top: 2rem;
	margin-right: 1rem;
	grid-column: 5/5;
	grid-row: 1/5;
	height: 568px;
	max-height: 568px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
	border-radius: 8px;
	border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
	opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: .6s;
	width: 390px;
	overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #002249 #f1f1f1;
}
.overall-notif {
	padding: 1rem;
	margin: 1rem;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    border-radius: 2px;
	background-color: #f1f1f1;
	max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-notif {
	display: flex;
}
#bell {
	color: #ffd726;
}
#notif-label {
	margin-left: .5rem;
	font-weight: 600;
	font-size: 16px;
}
#notif-subj {
	margin-left: 1rem;
	color: #818181;
	font-weight: 600;
	font-size: 16px;
}
.container-progress:nth-child(3) {
	margin-left: 1rem;
	grid-column: 1/2;
	grid-row: 4/5;
	height: 350px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
	border-radius: 8px;
	border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
	opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: .4s;
}
.progress-container {
    position: relative;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-top: 4rem;
	margin-left: 1rem;
}
.progress-wrapper {
    display: flex;
}
.progress-ring {
    transform: rotate(-90deg);
}
.progress-ring__background {
    stroke-linecap: round;
}
.progress-ring__circle {
    stroke-dasharray: 439.6;
    stroke-dashoffset: 439.6;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease-in-out;
}
.progress-text {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: #002249;
}
.progress-info {
	width: 300px;
	margin-left: 1rem;
	margin-right: 1rem;
}
.progress-info p {
	font-weight: bold;
    font-size: 20px;
    color: #00a2ff;
	margin-top: 6rem;
}
.container-todolist:nth-child(4) {
	grid-column: 2/5;
	grid-row: 4/5;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
	border-radius: 8px;
	border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
	opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: .8s;
}
.overall-todo {
	padding: .5rem;
	margin: 1rem;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    border-radius: 2px;
	background-image:  linear-gradient(to right, #E0EAF3, #d3deec);
}
#todo-label {
	margin-left: .5rem;
	font-weight: 600;
	font-size: 18px;
}
.todo-header {
	margin-left: .5rem;
	display: flex;
}
.todo-content {
	margin-top: .5rem;
	display: flex;
	margin-left: .5rem;
}
.todo-deadline {
	color: #919191;
	font-size: 18px;
	font-weight: 700;
}
.todo-data {
	color: #0056ac;
	font-size: 18px;
	font-weight: 700;
	margin-left: .5rem;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
footer {
	margin-top: 5rem;
	padding-top: 2rem;
	background-color: #002249;
	height: 13rem;
	color: #ffffff;
}
#flogo {
	height: 100px;
	margin-left: 1rem;
}
.branch p {
	font-size: 15px;
	margin-left: 2rem;
	margin-bottom: rem
}
.branch h3 {
	font-size: 18px;
	font-weight: 700;
	margin-left: 2rem;
	margin-top: 1rem;
	color: #ffffff;
}
.sch {
    margin-top: 4rem;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
}
.fa-brands {
	display: block;
	font-size: 20px;
	margin-left: 10rem;
	margin-top: 1rem;
}
#em  {
	display: block;
	font-size: 20px;
	margin-left: 10rem;
	margin-top: 1rem;
}
.schinfo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10rem;
	margin-right: 10rem;
}
.socials {
	display: block;
	color: #ffffff;
}
.fa-brands a {
	font-size: 15px;
	font-weight: 600;
}
.fa-solid a {
	font-size: 15px;
	font-weight: 600;
}
.devs {
	font-size: 13px;
	font-weight: 600;
	margin-top: 1rem;
	color: rgb(255, 255, 255);
    margin-left: 10rem;
}
